In [2]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from seaborn import load_dataset
import pandas as pd

In [4]:
ohdf = pd.read_csv("Datasets/healthcare-dataset-stroke-data.csv")

In [5]:
ohdf.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [9]:
oh2df = ohdf[['gender', 'smoking_status','ever_married']]
oh2df = oh2df.dropna()

In [10]:
oh2df.head()

   gender   smoking_status ever_married
0    Male  formerly smoked          Yes
1  Female     never smoked          Yes
2    Male     never smoked          Yes
3  Female           smokes          Yes
4  Female     never smoked          Yes

In [11]:
transformer = make_column_transformer(
    (OneHotEncoder(), ['gender', 'smoking_status', 'ever_married']),
    remainder='passthrough')

In [13]:
transformed = transformer.fit_transform(oh2df)
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
print(transformed_df.head())

   onehotencoder__x0_Female  onehotencoder__x0_Male  onehotencoder__x0_Other  \
0                       0.0                     1.0                      0.0
1                       1.0                     0.0                      0.0
2                       0.0                     1.0                      0.0
3                       1.0                     0.0                      0.0
4                       1.0                     0.0                      0.0

   onehotencoder__x1_Unknown  onehotencoder__x1_formerly smoked  \
0                        0.0                                1.0
1                        0.0                                0.0
2                        0.0                                0.0
3                        0.0                                0.0
4                        0.0                                0.0

   onehotencoder__x1_never smoked  onehotencoder__x1_smokes  \
0                             0.0                       0.0
1                             1.0                       0.0
2                             1.0                       0.0
3                             0.0                       1.0
4                             1.0                       0.0

   onehotencoder__x2_No  onehotencoder__x2_Yes
0                   0.0                    1.0
1                   0.0                    1.0
2                   0.0                    1.0
3                   0.0                    1.0
4                   0.0                    1.0

C:\Users\Steven\.conda\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [14]:
transformed_df.head()

,onehotencoder__x0_Female,onehotencoder__x0_Male,onehotencoder__x0_Other,onehotencoder__x1_Unknown,onehotencoder__x1_formerly smoked,onehotencoder__x1_never smoked,onehotencoder__x1_smokes,onehotencoder__x2_No,onehotencoder__x2_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [16]:
ohe = pd.get_dummies(data=ohdf, columns=['gender', 'ever_married', 'smoking_status'])
ohe.head()

,id,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,67.0,0,1,Private,Urban,228.69,36.6,1,0,1,0,0,1,0,1,0,0
1,51676,61.0,0,0,Self-employed,Rural,202.21,NaN,1,1,0,0,0,1,0,0,1,0
2,31112,80.0,0,1,Private,Rural,105.92,32.5,1,0,1,0,0,1,0,0,1,0
3,60182,49.0,0,0,Private,Urban,171.23,34.4,1,1,0,0,0,1,0,0,0,1
4,1665,79.0,1,0,Self-employed,Rural,174.12,24.0,1,1,0,0,0,1,0,0,1,0