In [19]:
#

In [43]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from seaborn import load_dataset
import pandas as pd

In [44]:
ohdf = pd.read_csv("Datasets/healthcare-dataset-stroke-data.csv")

In [45]:

ohdf.drop(['id'], axis=1, inplace=True)

In [46]:
ohdf.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [47]:
ohdf['bmi'].isnull().values.any()

True

In [48]:
ohdf = ohdf.dropna(axis=0)
ohdf

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [55]:
oh2df = ohdf[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type',
              'Residence_type','avg_glucose_level', 'bmi', 'smoking_status', 'stroke']]

In [56]:
oh2df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [57]:
oh2df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   Residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.2+ KB

In [59]:
transformer = make_column_transformer(
    (OneHotEncoder(), ['gender', 'ever_married', 'work_type',
              'Residence_type', 'smoking_status']),
    remainder='passthrough')

In [62]:
transformed = transformer.fit_transform(oh2df)
binarystroke_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
print(binarystroke_df.head())

   onehotencoder__x0_Female  onehotencoder__x0_Male  onehotencoder__x0_Other  \
0                       0.0                     1.0                      0.0
1                       0.0                     1.0                      0.0
2                       1.0                     0.0                      0.0
3                       1.0                     0.0                      0.0
4                       0.0                     1.0                      0.0

   onehotencoder__x1_No  onehotencoder__x1_Yes  onehotencoder__x2_Govt_job  \
0                   0.0                    1.0                         0.0
1                   0.0                    1.0                         0.0
2                   0.0                    1.0                         0.0
3                   0.0                    1.0                         0.0
4                   0.0                    1.0                         0.0

   onehotencoder__x2_Never_worked  onehotencoder__x2_Private  \
0                             0.0                        1.0
1                             0.0                        1.0
2                             0.0                        1.0
3                             0.0                        0.0
4                             0.0                        1.0

   onehotencoder__x2_Self-employed  onehotencoder__x2_children  ...  \
0                              0.0                         0.0  ...
1                              0.0                         0.0  ...
2                              0.0                         0.0  ...
3                              1.0                         0.0  ...
4                              0.0                         0.0  ...

   onehotencoder__x4_Unknown  onehotencoder__x4_formerly smoked  \
0                        0.0                                1.0
1                        0.0                                0.0
2                        0.0                                0.0
3                        0.0                                0.0
4                        0.0                                1.0

   onehotencoder__x4_never smoked  onehotencoder__x4_smokes   age  \
0                             0.0                       0.0  67.0
1                             1.0                       0.0  80.0
2                             0.0                       1.0  49.0
3                             1.0                       0.0  79.0
4                             0.0                       0.0  81.0

   hypertension  heart_disease  avg_glucose_level   bmi  stroke
0           0.0            1.0             228.69  36.6     1.0
1           0.0            1.0             105.92  32.5     1.0
2           0.0            0.0             171.23  34.4     1.0
3           1.0            0.0             174.12  24.0     1.0
4           0.0            0.0             186.21  29.0     1.0

[5 rows x 22 columns]

C:\Users\Steven\.conda\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [66]:
##OneHotDF
binarystroke_df.head()

,onehotencoder__x0_Female,onehotencoder__x0_Male,onehotencoder__x0_Other,onehotencoder__x1_No,onehotencoder__x1_Yes,onehotencoder__x2_Govt_job,onehotencoder__x2_Never_worked,onehotencoder__x2_Private,onehotencoder__x2_Self-employed,onehotencoder__x2_children,...,onehotencoder__x4_Unknown,onehotencoder__x4_formerly smoked,onehotencoder__x4_never smoked,onehotencoder__x4_smokes,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,67.0,0.0,1.0,228.69,36.6,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,80.0,0.0,1.0,105.92,32.5,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,49.0,0.0,0.0,171.23,34.4,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,79.0,1.0,0.0,174.12,24.0,1.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,81.0,0.0,0.0,186.21,29.0,1.0

In [67]:
##Get Dummies DF

ohe = pd.get_dummies(data=ohdf, columns=['gender', 'ever_married', 'work_type',
              'Residence_type', 'smoking_status'])
ohe.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [73]:
data_scaler = StandardScaler()

In [74]:
stroke_data_scaled = data_scaler.fit_transform(ohe)

In [75]:
stroke_data_scaled[:5]

array([[ 1.07013796, -0.31806673,  4.38196829,  2.77769839,  0.98134488,
         4.74215545, -1.19994201,  1.20044746, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627, -0.98563987,  0.98563987, -0.65792577,  2.20567315,
        -0.77834613, -0.42030213],
       [ 1.64656262, -0.31806673,  4.38196829,  0.0138418 ,  0.45926914,
         4.74215545, -1.19994201,  1.20044746, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627,  1.01456935, -1.01456935, -0.65792577, -0.45337633,
         1.28477545, -0.42030213],
       [ 0.27201152, -0.31806673, -0.22820795,  1.48413156,  0.70120668,
         4.74215545,  0.8333736 , -0.83302272, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627, -0.98563987,  0.98563987, -0.65792577, -0.45337633,
        -0.77834613,  2.37924084],
       [ 1.60222226,  3.14399438, -0.22820795,  1.54919261, -0.62308299,
         4.74215545,  0.8333736 , -0.83302272, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  , -1.15751781,  2.30958731,
        -0.39790627,  1.01456935, -1.01456935, -0.65792577, -0.45337633,
         1.28477545, -0.42030213],
       [ 1.69090297, -0.31806673, -0.22820795,  1.82136844,  0.01359474,
         4.74215545, -1.19994201,  1.20044746, -0.01427407, -0.72948428,
         0.72948428, -0.38370648, -0.067095  ,  0.86391759, -0.43297779,
        -0.39790627, -0.98563987,  0.98563987, -0.65792577,  2.20567315,
        -0.77834613, -0.42030213]])

In [76]:
import numpy as np
print(np.mean(stroke_data_scaled[:,0]))
print(np.std(stroke_data_scaled[:,0]))

1.6790172611157388e-16
0.9999999999999999

In [77]:
stroke_data_scaled.shape

(4909, 22)

In [79]:
#Stroke Feature
oheX = ohe.copy()
oheX = oheX.drop("stroke", axis=1)
oheX.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0

In [81]:
ohey = ohe["stroke"].values
ohey[:5]

array([1, 1, 1, 1, 1], dtype=int64)

In [84]:
oheX_train, oheX_test, ohey_train, ohey_test = train_test_split(oheX, ohey, random_state=78)

In [85]:
# Determine the shape of our training and testing sets.
print(oheX_train.shape)
print(oheX_test.shape)
print(ohey_train.shape)
print(ohey_test.shape)

(3681, 21)
(1228, 21)
(3681,)
(1228,)

In [86]:
# Splitting into Train and Test sets into an 80/20 split.
oheX_train2, oheX_test2, ohey_train2, ohey_test2 = train_test_split(oheX, ohey, random_state=78, train_size=0.80)

In [87]:
print(oheX_train2.shape)
print(oheX_test2.shape)
print(ohey_train2.shape)
print(ohey_test2.shape)

(3927, 21)
(982, 21)
(3927,)
(982,)

In [88]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
oheX_scaler = scaler.fit(oheX_train)

# Scaling the data.
oheX_train_scaled = oheX_scaler.transform(oheX_train)
oheX_test_scaled = oheX_scaler.transform(oheX_test)

In [89]:
# Create a random forest classifier.

rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [90]:
# Fitting the model
rf_model = rf_model.fit(oheX_train_scaled, ohey_train)

In [91]:
# Making predictions using the testing data.
predictions = rf_model.predict(oheX_test_scaled)

In [92]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [93]:
# Calculating the confusion matrix.
cm = confusion_matrix(ohey_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         1163            2
Actual 1           63            0

In [97]:
# Calculating the accuracy score.
acc_score = accuracy_score(ohey_test, predictions)
acc_score

0.9470684039087948

In [99]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(ohey_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1163            2
Actual 1           63            0

Accuracy Score : 0.9470684039087948
Classification Report
              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1165
           1       0.00      0.00      0.00        63

    accuracy                           0.95      1228
   macro avg       0.47      0.50      0.49      1228
weighted avg       0.90      0.95      0.92      1228