### Data Exploration

In [90]:
import pandas as pd

In [91]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [92]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [93]:
df.drop(['id'], axis=1, inplace=True)

In [94]:
df
## Stroke data:  0 = no stroke, 1 = stroke,
## hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension
## heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease
## ever_married: 0 no, 1 yes

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [95]:
df.info

<bound method DataFrame.info of       gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21   NaN     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5105          Urban              83.75   NaN     never smoked       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[5110 rows x 11 columns]>

In [96]:
df.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [97]:
df['bmi'].isnull().values.any()

True

In [100]:
# drop nan values
df = df.dropna(axis=0)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [101]:
df['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [102]:
target_dict = {'formerly smoked': 2, 'never smoked':0, 'smokes':1, 'Unknown':4}

In [103]:
df['smoking_status'] = df['smoking_status'].map(target_dict)

C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,2,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,0,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,1,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,0,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,4,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,0,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,0,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,2,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,4,0

In [105]:
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [106]:
work_type_dict = {'Private':4, 'Self-employed':3, 'Govt_job':2, 'children':1, 'Never_worked':0}

In [107]:
df['work_type'] = df['work_type'].map(work_type_dict)

C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [108]:
df['ever_married'].unique()

array(['Yes', 'No'], dtype=object)

In [109]:
ever_married_dict = {'Yes':1, 'No':0}

In [110]:
df['ever_married'] = df['ever_married'].map(ever_married_dict)

C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [111]:
df['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

In [112]:
resi_type_dict = {'Urban': 0, 'Rural':1}

In [113]:
df['Residence_type'] = df['Residence_type'].map(resi_type_dict)

C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [114]:
df['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [115]:
gender_dict = {'Male':0, 'Female':1, 'Other':2}

In [116]:
df['gender'] = df['gender'].map(gender_dict)

C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [117]:
df.info

<bound method DataFrame.info of       gender   age  hypertension  heart_disease  ever_married  work_type  \
0          0  67.0             0              1             1          4
2          0  80.0             0              1             1          4
3          1  49.0             0              0             1          4
4          1  79.0             1              0             1          3
5          0  81.0             0              0             1          4
...      ...   ...           ...            ...           ...        ...
5104       1  13.0             0              0             0          1
5106       1  81.0             0              0             1          3
5107       1  35.0             0              0             1          3
5108       0  51.0             0              0             1          4
5109       1  44.0             0              0             1          2

      Residence_type  avg_glucose_level   bmi  smoking_status  stroke
0                  0             228.69  36.6               2       1
2                  1             105.92  32.5               0       1
3                  0             171.23  34.4               1       1
4                  1             174.12  24.0               0       1
5                  0             186.21  29.0               2       1
...              ...                ...   ...             ...     ...
5104               1             103.08  18.6               4       0
5106               0             125.20  40.0               0       0
5107               1              82.99  30.6               0       0
5108               1             166.29  25.6               2       0
5109               0              85.28  26.2               4       0

[4909 rows x 11 columns]>

In [123]:
df.apply(pd.to_numeric, errors='ignore')

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,1,4,0,228.69,36.6,2,1
2,0,80.0,0,1,1,4,1,105.92,32.5,0,1
3,1,49.0,0,0,1,4,0,171.23,34.4,1,1
4,1,79.0,1,0,1,3,1,174.12,24.0,0,1
5,0,81.0,0,0,1,4,0,186.21,29.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,1,13.0,0,0,0,1,1,103.08,18.6,4,0
5106,1,81.0,0,0,1,3,0,125.20,40.0,0,0
5107,1,35.0,0,0,1,3,1,82.99,30.6,0,0
5108,0,51.0,0,0,1,4,1,166.29,25.6,2,0
5109,1,44.0,0,0,1,2,0,85.28,26.2,4,0

In [124]:
df.dtypes

gender                 int64
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int64
work_type              int64
Residence_type         int64
avg_glucose_level    float64
bmi                  float64
smoking_status         int64
stroke                 int64
dtype: object

### Building Classification model

In [125]:
from sklearn.ensemble import RandomForestClassifier

In [126]:
model = RandomForestClassifier()

In [127]:
X = df.drop(['stroke'], axis=1)
y = df['stroke']

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=1)

### Training the Model

In [130]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [131]:
preds = model.predict(X_test)

In [132]:
from sklearn.metrics import classification_report

In [133]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97       698
           1       0.00      0.00      0.00        39

    accuracy                           0.95       737
   macro avg       0.47      0.50      0.49       737
weighted avg       0.90      0.95      0.92       737

C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vryne\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))